.type-txt-x-small-sans {
    font-family: GintoNormal;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    letter-spacing: 0.26px;
    line-height: 1.26;
    color: rgba(0,0,0,1);
}

.type-txt-bold-x-small-sans {
    font-family: GintoNormalTrial;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    letter-spacing: 0.26px;
    line-height: 1.26;
    color: rgba(0,0,0,1);
}

.type-button-txt {
    font-family: GintoNormal;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: rgba(0,0,0,1);
}

.type-xs-txt-form-small-sans {
    font-family: GintoNormal;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    letter-spacing: 0.46px;
    line-height: 1.16;
    color: rgba(160,160,160,1);
}

.type-xs-txt-small-sans {
    font-family: GintoNormal;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.18;
    color: rgba(0,0,0,1);
}

.type-xs-txt-small-serif {
    font-family: SuisseBPSerif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 1.18;
    color: rgba(0,0,0,1);
}

.type-xs-txt-bold-small-sans {
    font-family: GintoNormalTrial;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.18;
    color: rgba(0,0,0,1);
}

.type-txt-small-sans {
    font-family: GintoNormal;
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: rgba(0,0,0,1);
}

.type-txt-form-small-sans {
    font-family: GintoNormal;
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: rgba(160,160,160,1);
}

.type-txt-bold-small-sans {
    font-family: GintoNormalTrial;
    font-weight: 700;
    text-transform: none;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 1.13;
    color: rgba(0,0,0,1);
}

.type-txt-small-serif {
    font-family: SuisseBPSerif;
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 1.2;
    color: rgba(0,0,0,1);
}

.type-xs-txt-big-sans {
    font-family: GintoNormal;
    font-weight: 400;
    text-transform: none;
    font-size: 24px;
    letter-spacing: 0.46px;
    line-height: 1.11;
    color: rgba(0,0,0,1);
}

.type-txt-big-sans {
    font-family: GintoNormal;
    font-weight: 400;
    text-transform: none;
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 1.14;
    color: rgba(0,0,0,1);
}

.type-xs-tit-x-big-sans {
    font-family: GintoNormal;
    font-weight: 400;
    text-transform: none;
    font-size: 35px;
    letter-spacing: 0px;
    line-height: 1.03;
    color: rgba(0,0,0,1);
}

.type-tit-big-sans {
    font-family: GintoNormal;
    font-weight: 400;
    text-transform: none;
    font-size: 48px;
    letter-spacing: 0px;
    color: rgba(0,0,0,1);
}

.type-tit-x-big-sans {
    font-family: GintoNormal;
    font-weight: 400;
    text-transform: none;
    font-size: 64px;
    letter-spacing: 0px;
    color: rgba(0,0,0,1);
}