

/* BACKGROUND COLORS */

.bg-black
{
    background-color: #111111 !important;
}

.bg-white
{
    background-color: #FFFFFF !important;
}

.bg-sizzling-red
{
    background-color: #FF3855 !important;
}

.bg-red-salsa
{
    background-color: #FD3A4A !important;
}

.bg-tart-orange
{
    background-color: #FB4D46 !important;
}

.bg-orange-soda
{
    background-color: #FA5B3D !important;
}

.bg-bright-yellow
{
    background-color: #FFAA1D !important;
}

.bg-yellow-sunshine
{
    background-color: #FFF700 !important;
}

.bg-slimy-green
{
    background-color: #299617 !important;
}

.bg-green-lizard
{
    background-color: #A7F432 !important;
}

.bg-denim-blue
{
    background-color: #2243B6 !important;
}

.bg-blue-jeans
{
    background-color: #5DADEC !important;
}

.bg-plump-purple
{
    background-color: #5946B2 !important;
}

.bg-purple-plum
{
    background-color: #9C51B6 !important;
}

.bg-sweet-brown
{
    background-color: #A83731 !important;
}

.bg-brown-sugar
{
    background-color: #AF6E4D !important;
}

.bg-erie-black
{
    background-color: #1B1B1B !important;
}

.bg-black-shadows
{
    background-color: #BFAFB2 !important;
}

.bg-fiery-rose
{
    background-color: #FF5470 !important;
}

.bg-sizzling-sunshine
{
    background-color: #FFDB00 !important;
}

.bg-heat-wave
{
    background-color: #FF7A00 !important;
}

.bg-lemon-glacier
{
    background-color: #FDFF00 !important;
}

.bg-spring-frost
{
    background-color: #87FF2A !important;
}

.bg-absolute-zero
{
    background-color: #0048BA !important;
}

.bg-winter-sky
{
    background-color: #FF007C !important;
}

.bg-frost-bite
{
    background-color: #E936A7 !important;
}

/* COLORS */

.black
{
    background-color: #111111 !important;
}

.white
{
    background-color: #FFFFFF !important;
}

.sizzling-red
{
    background-color: #FF3855 !important;
}

.red-salsa
{
    background-color: #FD3A4A !important;
}

.tart-orange
{
    background-color: #FB4D46 !important;
}

.orange-soda
{
    background-color: #FA5B3D !important;
}

.bright-yellow
{
    background-color: #FFAA1D !important;
}

.yellow-sunshine
{
    background-color: #FFF700 !important;
}

.slimy-green
{
    background-color: #299617 !important;
}

.green-lizard
{
    background-color: #A7F432 !important;
}

.denim-blue
{
    background-color: #2243B6 !important;
}

.blue-jeans
{
    background-color: #5DADEC !important;
}

.plump-purple
{
    background-color: #5946B2 !important;
}

.purple-plum
{
    background-color: #9C51B6 !important;
}

.sweet-brown
{
    background-color: #A83731 !important;
}

.brown-sugar
{
    background-color: #AF6E4D !important;
}

.erie-black
{
    background-color: #1B1B1B !important;
}

.black-shadows
{
    background-color: #BFAFB2 !important;
}

.fiery-rose
{
    background-color: #FF5470 !important;
}

.sizzling-sunshine
{
    background-color: #FFDB00 !important;
}

.heat-wave
{
    background-color: #FF7A00 !important;
}

.lemon-glacier
{
    background-color: #FDFF00 !important;
}

.spring-frost
{
    background-color: #87FF2A !important;
}

.absolute-zero
{
    background-color: #0048BA !important;
}

.winter-sky
{
    background-color: #FF007C !important;
}

.frost-bite
{
    background-color: #E936A7 !important;
}

/* END BACKGROUND COLORS */

.fs-navbar-1-1
{
    margin-top: -22px;
}

.fs-checkbox-trigger
{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    display: none;
}

.fs-checkbox-trigger:checked ~ label .fs-navbar-icon
{
    border-color: #fff;
    transition: all .1s ease;
}

.fs-checkbox-trigger:checked ~ label .fs-navbar-icon span
{
    background: #fff;
}

.fs-checkbox-trigger:checked ~ label .fs-navbar-icon span:nth-child(1)
{
    opacity: 0;
}

.fs-checkbox-trigger:checked ~ label .fs-navbar-icon span:nth-child(2)
{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 28px;
}

.fs-checkbox-trigger:checked ~ label .fs-navbar-icon span:nth-child(3)
{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 28px;
}

.fs-checkbox-trigger:checked ~ label .fs-navbar-icon span:nth-child(4)
{
    opacity: 0;
}

.fs-checkbox-trigger:checked ~ label .fs-navbar-icon span.label
{
    background: none;
    color: #fff;
}

.fs-checkbox-trigger:checked ~ label .fs-navbar-icon:hover
{
    border-color: #fff;
}

.fs-checkbox-trigger:checked ~ label .fs-navbar-icon:hover span
{
    background: #fff;
}

.fs-checkbox-trigger:checked ~ label .fs-navbar-icon:hover span.label
{
    background: none;
    color: #fff;
}

.fs-checkbox-trigger:checked ~ label .fs-navbar-icon.normal
{
    border-color: transparent;
}

.fs-checkbox-trigger:checked ~ .fs-navbar
{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li
{
    opacity: 1;
    bottom: 0;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(1)
{
    transition-delay: .3s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(2)
{
    transition-delay: .6s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(3)
{
    transition-delay: .9s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(4)
{
    transition-delay: 1.2s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(5)
{
    transition-delay: 1.5s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(6)
{
    transition-delay: 1.7s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(7)
{
    transition-delay: 1.9s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(8)
{
    transition-delay: 1.11s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(8)
{
    transition-delay: 1.13s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(9)
{
    transition-delay: 1.15s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(10)
{
    transition-delay: 1.17s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(11)
{
    transition-delay: 1.19s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(12)
{
    transition-delay: 1.21s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar nav ul li:nth-child(13)
{
    transition-delay: 1.23s;
}

.fs-checkbox-trigger:checked ~ .fs-navbar.effect-fade-in
{
    opacity: 1;
    visibility: visible;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.fs-checkbox-trigger:checked ~ .fs-navbar.effect-fade-in nav ul li
{
    opacity: 1;
    bottom: 0;
}

.fs-checkbox-trigger:checked ~ .fs-navbar.effect-slide-in-top
{
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.fs-checkbox-trigger:checked ~ .fs-navbar.effect-slide-in-top nav ul li
{
    opacity: 1;
    bottom: 0;
}

.fs-checkbox-trigger:checked ~ .fs-navbar.effect-slide-in-bottom
{
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.fs-checkbox-trigger:checked ~ .fs-navbar.effect-slide-in-bottom nav ul li
{
    opacity: 1;
    bottom: 0;
}

.fs-checkbox-trigger:checked ~ .fs-navbar.effect-slide-in-left
{
    width: 100%;
    opacity: 1;
    visibility: visible;
}

.fs-checkbox-trigger:checked ~ .fs-navbar.effect-slide-in-left nav ul li
{
    opacity: 1;
    right: 0;
}

.fs-checkbox-trigger:checked ~ .fs-navbar.effect-slide-in-right
{
    width: 100%;
    opacity: 1;
    visibility: visible;
}

.fs-checkbox-trigger:checked ~ .fs-navbar.effect-slide-in-right nav ul li
{
    opacity: 1;
    right: 0;
}

.fs-checkbox-trigger:checked ~ .fs-navbar.effect-door
{
    width: 100%;
    opacity: 1;
    visibility: visible;
}

.fs-checkbox-trigger:checked ~ .fs-navbar.effect-door nav ul li
{
    opacity: 1;
    right: 0;
}


.fs-navbar-icon
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    line-height: 62px;
    text-align: center;
    font-size: 20px;
    z-index: 1000;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
}

.fs-navbar-icon.top
{
    top: 30px;
}

.fs-navbar-icon.bottom-right
{
    top: auto;
    bottom: 30px;
}

.fs-navbar-icon.bottom-left
{
    top: auto;
    bottom: 30px;
	right: auto;
    left: 30px;
}

.fs-navbar-icon.left
{
    right: auto;
    left: 30px;
}

.fs-navbar-icon.right
{
    left: auto;
    right: 30px;
}

.fs-navbar-icon span
{
    display: block;
    position: absolute;
    height: 1px;
    background: #000;
    opacity: 1;
    left: 15px;
    right: 15px;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

.fs-navbar-icon span:nth-child(1)
{
    top: 18px;
}

.fs-navbar-icon span:nth-child(2)
{
    top: 28px;
}

.fs-navbar-icon span:nth-child(3)
{
    top: 28px;
}

.fs-navbar-icon span:nth-child(4)
{
    top: 38px;
}

.fs-navbar-icon span.label
{
    height: auto;
    background: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    top: 45px;
    left: 0;
    right: 0;
}

.fs-navbar-icon.normal
{
    border-color: transparent;
}

.fs-navbar-icon.normal span.label
{
    top: 30px;
}

.fs-navbar-icon.round
{
    border-radius: 50%;
}

@media (max-width: 767px)
{
    .fs-navbar-icon
    {
        top: 20px;
        right: 20px;
    }
}

.fs-navbar
{
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    white-space: nowrap;
    z-index: 900;
    transition-delay: 1s;
    overflow: hidden;
}

.fs-navbar.effect-fade-in
{
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
}

.fs-navbar.effect-fade-in nav ul li
{
    opacity: 0;
    bottom: -30px;
}

.fs-navbar.effect-slide-in-top
{
    height: 0;
}

.fs-navbar.effect-slide-in-top nav ul li
{
    opacity: 0;
    bottom: -30px;
}

.fs-navbar.effect-slide-in-bottom
{
    height: 0;
    top: auto;
    bottom: 0;
}

.fs-navbar.effect-slide-in-bottom nav ul li
{
    opacity: 0;
    bottom: 30px;
}

.fs-navbar.effect-slide-in-left
{
    width: 0;
    left: auto;
    right: 0;
}

.fs-navbar.effect-slide-in-left nav ul li
{
    opacity: 0;
    right: 30px;
    bottom: auto;
}

.fs-navbar.effect-slide-in-right
{
    width: 0;
}

.fs-navbar.effect-slide-in-right nav ul li
{
    opacity: 0;
    right: -30px;
    bottom: auto;
}

.fs-navbar.effect-door
{
    visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.fs-navbar.effect-door nav ul li
{
    opacity: 0;
    right: -30px;
    bottom: auto;
}


.fs-navbar nav
{
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 60px;
    font-weight: 800;
}

.fs-navbar nav ul
{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.fs-navbar nav ul li
{
    display: block;
    margin: 40px 0;
    position: relative;
    transition: all .4s;
    opacity: 0;
    bottom: -30px;
}

.fs-navbar nav ul li a
{
    transition: all .3s;
}

.fs-navbar nav ul li a:hover
{
    color: #fff;
}

.fs-navbar nav ul li:nth-child(1)
{
    transition-delay: .9s;
}

.fs-navbar nav ul li:nth-child(2)
{
    transition-delay: .6s;
}

.fs-navbar nav ul li:nth-child(3)
{
    transition-delay: .3s;
}

.fs-navbar nav ul li:nth-child(4)
{
    transition-delay: 0s;
}

@media (max-width: 767px)
{
@media (max-width: 767px)
{
    .fs-navbar nav
    {
        font-size: 40px;
    }
}

    .fs-navbar nav ul li
    {
        margin: 25px 0;
    }
}


.fs-navbar a
{
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
